# Dependencies
node_modules/

# Build outputs
dist/
target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Angular
.angular/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# stray Lucene index created by a service in the wrong cwd
idx_patientX/
